{% extends "admin/layout.html" %}
{% block maincontent %}
<div class="content">
    <div class="container">
        {% if msg: %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ msg }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="card">
            <div class="card-header card-header-primary center">
                <h4 class="card-title "><b>Updated Child</b></h4>
            </div>
            <div class="card-body">
                <form method="POST" accept="/admin">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name="name" type="text" class="form-control" id="name" value="{{ child['name'] }}"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input name="age" type="text" class="form-control" id="age" value="{{ child['age'] }}" required>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select name="gender" class="form-control" id="gender" value="{{ child['gender'] }}" required>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea name="address" rows="3" type="text" class="form-control" id="address"
                            required>{{ child['address'] }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="adoptedby">Name</label>
                        <input name="adoptedby" type="text" class="form-control" id="adoptedby" required
                            value="{{ child['adoptedby'] }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Update Child</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // CKEDITOR.replace('description');
</script>
{% endblock %}